/**************************** general ****************************/
* {
    font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin : 0px;
}

.error {
  color : red;
  font-size: 2rem;
  margin-bottom: 0px;
}


/**************************** home page + formulaire ****************************/

.simple-body {
  background-color: #0B3C49;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.classic-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}

/**************************** button ****************************/

.button {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.7rem;
  padding-left: 1.7rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.button-light {
  background-color: white;
  color: #0B3C49;
}

.button-dark {
  background-color: #0B3C49;
  color: white;
}

.button-group {
  height: 15vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}




/**************************** level ****************************/
.game_body {
  height: 100vh;
  width: 100vw;
  position :absolute;
  overflow: hidden;
}

.nav {
  height: 8vh;
  background-color: #0B3C49;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.nav-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  width : 50vw;
}

.main {
  height : 67vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-title {
   height : 8vh;
   display: flex;
   justify-content : center;
   align-items : center;
}

.main-image {
  width: 95vw;
  height: 60vh;
  display : flex;
  align-items : center;
  justify-content : center;
}

.main-image img {
  max-width : 95vw;
  max-height : 58vh;
}

.main-image-portrait {
  height: 100%;
  width: auto;
}

.main-image-landscape {
  width: 100%;
  height: auto;
}

.footer {
  height : 25vh;
  background: #f3f7fb;
}

.details {
  display : flex;
  justify-content : space-evenly;
  align-items : center;
  flex-wrap : wrap;
}

.details img {
  height : 11vh;
  width : auto;
  margin-left: 1vw;
}

.clues {
  position: absolute;
  top: 8vh;
  left: 0vw;
  height: 50vh;
  background-color: #0b3c49;
  color: white;
  width : 100vw;

}

.clues p {
  width: 100vw;
  padding: 1vh;
}

.clues div {
  height : 30vh;
}

.hide {
  display : none;
}

.hide-button {
  position: relative;
  top: 1vw;
  left: 95vw;
}

.next-level-contain {
  position: absolute;
  top: 30vh;
  left: 10vw;
  background-color: #0B3C49;
  color: white;
  height: 25vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.next-level a {
  border-radius: .25rem;
}

.show {
  display : block;
}

.help {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.help-content {
  padding : 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.check{
    border: solid 0.75rem #c9e265;
}

.timer {
  position: absolute;
  background: white;
  height: 50vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.timer p {
  font-size: 10vh;
  text-align: center;
}

.visit {
  filter : blur(4px);
}

.icon {
  font-size: 4rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.main-title .title {
  font-size: 4rem;
}

@media (orientation: landscape){
  .nav {
    height: 12vh;
  }

  .clues {
    top : 12vh;
  }

  .main-title .title {
    font-size: 3rem;
  }

  .next-level-contain {
    height: 40vh;
  }
}
/****************************   mode visite    ****************************/

.visitMode {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.visitMode p {
  width : 15vw;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s;
    height: 36px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

/****************************   boss    ****************************/
.boss {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 92vh;
  width : 100vw;
}

.illustrations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
}

.illustrations img {
  height: 30vh;
  max-width: 75vw;
}

.question-responses {
  height: 15vh;
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.question-responses p {
  width: 100%;
}

.question-responses div {
  width: 50%;
}

.illustrations-responses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 65vh;
}


.question {
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 2rem;
  display: flex;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column-reverse;
  width: 50vw;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.item img {
  width :45vw;
}
