{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Connexion{% endblock %}

{% block body %}
<div class="simple-body">
  <img src="{% static 'images/header/header_image.png' %}">
  <h3>Trouve moi !</h3>
  <form action="{% if start %}{{start}}{% elif continue %}{{continue}}{% endif %}" method="POST" class="classic-flex">
      {% csrf_token %}
      <label for="pseudo" class="title">Pseudo</label>
      <p class="connexion-error">{% if error %}{{error}}{% endif %}</p>
      <input id="pseudo" type="text" placeholder="Pseudo" name="pseudo">
      {% if start %}
          <input type="submit" value="Jouer" class="button button-light">
      {% elif continue %}
          <input type="submit" value="Continuer" class="button button-light">
      {% endif %}
      </form>
</div>
{% endblock %}
