{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game{% endblock title %}

{% block body %}
    <div class="simple-body">
                <img src="{% static 'images/header/header_image.png' %}">
                <h3>Trouve moi !</h3>
                <div class="button-group">
                  <a href="{% url 'game:form_user_start' %}" class="button button-light" role="button" aria-pressed="true">Jouer</a>
                  <a href="{% url 'game:form_user_continue' %}" class="button button-light" role="button" aria-pressed="true">Continuer</a>
                </div>
    </div>

{% endblock %}
