{% extends 'layouts/base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
    // mise en place de la variable qui contient le nombre de click restant
    var click = {{player.currentClick}} ;
    var stars = {{player.nb_stars}} ;

    // mise en place du tableau qui récupère toutes les infos sur les détails
    var tab = [];
    document.addEventListener("DOMContentLoaded", function(event) {
        var details = [], i = 0;

        details[0] = "{{player.detail1}}" == "True" ? true : false;
        details[1] = "{{player.detail2}}" == "True" ? true : false;
        details[2] = "{{player.detail3}}" == "True" ? true : false;
        details[3] = "{{player.detail4}}" == "True" ? true : false;
        details[4] = "{{player.detail5}}" == "True" ? true : false;

        {% for d in detail %}
            tab.push({x : {{d.position_x}}, y : {{d.position_y}}, height: {{d.height}}, width: {{d.width}}, checked : details[i], clue : "{{d.clue}}", payedClue : false });
            i += 1;
        {% endfor %}
        for (let i = 0; i < 5; i++) {
            if (tab[i].checked == true) {
              $('.footer .detail-image:nth-child('+ (i + 1) +')').addClass('check');
            }
        }
        //////// TODO : ajouter portrait ou paysage  ///////

        console.log(tab);
    });
</script>
 <script src="{% static 'javascript/script.js' %}"></script>
{% endblock %}

{% block title %}Level {{level.id}}{% endblock title %}

{% block nav %}{% endblock %}
{% block content %}

  <div class="game_body">
    <div class="nav">
      <div class="nav-star">
        <h3 class="icon">{{player.nb_stars}}</h3>
        <i class="fas fa-star icon" ></i>
      </div>

      <h3 class="nav-title title">{{level.world.name}}</h3>
      <i class="far fa-question-circle icon" onclick="popUp('.help')"></i>
      <i onclick="popUp('.clues'); checkClues()"  class="fas fa-lightbulb icon"></i>
    </div>
    <div class="main">
      <div class="main-title">
          <h3 class="title">{{level.name}}</h3>
      </div>
      <div class="main-image">
          <div class="timer hide">
            <p></p>
          </div>
          <img class="painting" src="{% static 'images/' %}{{level.image}}" onclick="check(event)">
      </div>
    </div>
    <div class="footer details">
      {% for d in detail %}
        <img class="detail-image" src="{% static 'images/' %}{{d.image}}">
      {% endfor %}
    </div>
    <div class="clues hide popup">
      <i class="fas fa-angle-up hide-button icon" onclick="popUp('.clues')"></i>
      <p class="title">Indices</p>
      <div class="details">
        {% for d in detail %}
          <img src="{% static 'images/' %}{{d.image}}" onclick="displayClue({% cycle 0 1 2 3 4 %})">
        {% endfor %}
      </div>
      <div class="clue">
        <p class="value text"></p>
      </div>
    </div>
    <div class="next-level hide popup">
        <h3>Gagné !</h3>
        <a href="{% url 'game:next_level' %}">Niveau suivant</a>
    </div>
    <div class="help hide">
      <i class="fas fa-times hide-button icon" onclick="popUp('.help')"></i>

      <div class="visitMode">
        <p class="text">Mode visite</p>
        <div class="onoffswitch">
          <input type="checkbox" name="visiteMode" class="onoffswitch-checkbox" id="visitButton" onclick="setVisitMode()">
          <label class="onoffswitch-label" for="visitButton"></label>
        </div>
      </div>

      <div class="help-content">
        <h3 class="title">Règle du jeu</h3>
        <p class="text"> Je suis caché dans un des tableaux du musée. Pour me trouver, tu devras passer tous les niveaux . Cherche
        sur chaque tableau, les cinq morceaux proposés, en cliquant dessus. Si tu es au musée, active le mode visite. Après
        cinq niveaux, tu plongeras dans un nouveau monde artistique du musée. Tu devras changer de salle si tu y es. </p>
        <p class="text">Si tu est bloqué, clique sur <i class="fas fa-lightbulb"></i> pour avoir des indices. Tu les payeras avec les étoiles que tu auras
        récupéré chaque fois que tu retrouves un morceau.</p>

        <!-- Mettre un démo -->
        <img class="painting" src="{% static 'images/demo1.png' %}">
        <p class="text"> <i class="fas fa-exclamation-triangle" ></i> Attention, au bout de trop de clics consécutifs, tu seras
        bloqué pendant un certain temps </p>
      </div>
    </div>
  </div>

    <!-- <div class="container" id="game_container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div id="nav" class="card-header" >
                            <h3 id="nombre" >{{player.nb_stars}}</h3>
                            <i id="etoile" class="fas fa-star" ></i>
                            <i id="question"class="far fa-question-circle" onclick="OpenNoCluePopUp()"></i>
                            <i id="indice" onclick="openPopUpClue()"  class="fas fa-lightbulb"></i>
                        <div class="card" id="top-menu" >
                            <h6  class="text-center" id="texte">{{level.world.name}}</h6>
                        </div>
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title text-center">{{level.name}}</h5>
                        <div class="imagecontainer">
                            <img id="painting" src="{% static 'images/' %}{{level.image}}" width="100%" onclick="check(event)">
                        </div>
                        <div id="nextlevel" class="text-center">
                            <h1 class="textgagner" >GAGNE !</h1>
                            <a id="btmsuivant" href="{% url 'game:next_level' %}"  class="btn btn btn-lg" role="button" aria-pressed="true" >NIVEAU SUIVANT</a>
                        </div>
                    </div>
                    <div class="card-footer text-center details">
                        {% for d in detail %}
                            <div class="carde" ><img class="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- indice à mettre ailleurs -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="popup">
                    <div class="card-body text-center " >
                      <i id="close"class="far fa-window-close" onclick="closePopUpClue()"></i>
                      <p class=" text-center">Choisir le détail</p>
                      <!--For d in notFoundDetails-->
                      <!-- {% for d in detail %}
                        <div class="carde" ><img class="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                      {% endfor %} -->
                      <!--div id="clueText"> Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div-->

                      <!-- <div class="row " id="clueText">
                          <i id="close"class="far fa-window-close" onclick="CloseClueText()"></i>
                          <div >Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div>
                      </div>
                    </div>
                </div>
             </div>
       </div>
       <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card-body text-center " id="noClueAvalaible" >
                    <i id="question"class="far fa-window-close" onclick="CloseNoCluePopUp()"></i>
                      Oups tu n'as pas assez d'étoiles
                </div>
            </div>
        </div>
  </div> -->
{% endblock content %}
