{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/450abf6818.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Bacchanight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block script %} {% endblock %}
</head>
<body>
  {% block body%}

    {% block content %} {% endblock %}
{% endblock body%}
</body>
</html>
